/* Sebastian Bruce - 200561191
2024-03-28 */


@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


html {
    width: 90%;
    margin: auto;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.6;
    background-color: whitesmoke;
    text-align: left;
}

#container {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 10px;
    padding: 10px;
}

header p {
    text-align: left;
    text-transform: uppercase;
    margin-left: 2%;
}

header h1 {
    color: rgb(255, 102, 0);
    margin-top: -3rem;
    margin-bottom: 0rem;
    font-size: 10rem;
    text-transform: lowercase;
    text-align: center;
}

img {
    width: 100%;
    display: block;
}

figcaption p {
    text-align: center;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    display: inline;
}

aside + aside {
    width: 80%;
    margin: auto;
    border: 1px solid rgb(255, 102, 0);
    background-color: white;
    box-shadow: 0 3px 5px rgb(46, 46, 46);
}

aside + aside h2 {
    text-transform: lowercase;
    margin: 0 0 0 2rem;
    text-align: left;
    font-size: 3rem;
}

aside + aside em {
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

aside + aside p {
    margin: -1rem 0 0 2rem;
    font-size: 20px;
    font-weight: bold;
}

aside + aside li {
    margin: 0 0 0 2rem;
}

section {
    margin: 0 0 0 2rem;
}

section h2 {
    text-transform: lowercase;
    font-size: 3rem;
    margin: 0;
}

li h3 {
    text-transform: uppercase;
}

ol h3,
ul h3,
ol p,
ul p {
  margin: 0;
}

section:first-of-type {
    border-top: 1rem solid rgb(24, 161, 24);
}

section:first-of-type h3 {
    color: rgb(24, 161, 24);
}

section:nth-of-type(2) {
    border-top: 1rem solid rgb(219, 73, 97);
}

section:nth-of-type(2) h3 {
    color: rgb(219, 73, 97);
}

section:nth-of-type(3) {
    border-top: 1rem solid rgb(0, 102, 128);
}

section:nth-of-type(3) h3 {
    color: rgb(0, 102, 128);
}

footer {
    text-align: right;
}

footer em {
    color: rgb(255, 102, 0);
}

footer strong {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-weight: bold;
}